/* global variables */
:root {
  --primary-color: rgb(0, 199, 252);
  --secondary-color: #1f2021;
  --primary-text-color: #fff;
  --secondary-text-color: #636364;
  --container-space: 50px;
  --section-padding: 100px;
  --primary-padding: 10px;
  --primary-margin: 10px;
}
/* -------------- */

/* start my css components */

/*start styling section heading component */
.section-heading {
  text-align: center;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.section-heading .container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.section-heading h2 {
  text-transform: uppercase;
  position: relative;
  font-weight: lighter;
  font-size: 2.5em;
}
.section-heading span {
  display: block;
  position: relative;
  margin: 20px auto;
  width: 100px;
  border-bottom: 1px solid var(--secondary-color);
}
.section-heading span::after {
  width: 10px;
  height: 10px;
  background-color: var(--primary-text-color);
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
}

.section-heading p {
  width: 50%;
  line-height: 1.5em;
}
/*end styling section heading component */

/* end my css components */

/* global rules  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* +++++++++++++ */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.mark {
  border: 1px solid #000;
  text-align: center;
}
.container {
  padding: 0 var(--primary-padding);
  margin: auto;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .container {
    width: calc(576px - var(--container-space));
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container {
    width: calc(768px - var(--container-space));
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .container {
    width: calc(992px - var(--container-space));
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .container {
    width: calc(1200px - var(--container-space));
  }
}

/* start styling header */
header {
  position: relative;
  height: 100vh;
  background-color: var(--secondary-color);
  background-image: url("../img/landing-bg.jpg");
  background-size: cover;
}
header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
}

header .container {
  position: relative;
  text-transform: capitalize;
  height: 100px;
  color: var(--primary-text-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
header .container::before {
  position: absolute;
  content: "";
  width: calc(100% - var(--primary-padding) * 2);
  border-bottom: 1px solid var(--secondary-text-color);
  bottom: 0;
}
header .container .logo {
  width: 15%;
}
header .container .logo img {
  max-width: fit-content;
}
header .container nav {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav .toggle-menu {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 10px;
}
header .container nav .toggle-menu + input[type="checkbox"] {
  display: none;
}

header .container nav ul {
  display: flex;
  margin-right: 10px;
  width: 80%;
  justify-content: flex-end;
  align-items: center;
}
header .container nav ul li {
  padding: 40px 20px;
}
header .container nav ul li.active,
header .container nav ul li:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

header .container nav form {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav form input.search {
  width: 10%;
  outline: none;
  caret-color: var(--primary-color);
  background-color: transparent;
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
  border-radius: 10px;
  padding: 5px;
}
header .container nav form input.search:focus {
  width: 100%;
}
header .container nav form i {
  margin-left: 10px;
  cursor: pointer;
}
@media (max-width: 767px) {
  header .slide-container .slide-icons {
    display: none;
  }
  header .container .logo {
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }
  header .container nav {
    width: 100%;
  }
  header .container nav .toggle-menu {
    display: block;
  }
  header .container nav #toggle-check:checked + ul {
    position: absolute;
    display: flex;
    flex-flow: column;
  }
  header .container nav ul {
    background-color: var(--secondary-color);
    display: none;
    position: absolute;
    top: 100%;
    width: calc(100% - 20px);
  }
  header .container nav form {
    display: none;
  }
}
@media (max-width: 991px) {
  header .container nav form {
    display: none;
  }
}

/* start styling landing text, slide(icons, bullets) */
header .landing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  z-index: 1;
  color: var(--primary-text-color);
  width: 70%;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 199, 252, 0.5);
  padding: 20px;
}
header .landing-text h1 {
  font-weight: lighter;
  text-transform: capitalize;
  width: 60%;
}
header .landing-text p {
  width: 60%;
  text-transform: capitalize;
  line-height: 1.5em;
}
header .slide-icons {
  font-size: 1.5em;
}
header .slide-icons .right-icon,
header .slide-icons .left-icon {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  color: var(--primary-text-color);
  top: 50%;
  transform: translateY(-50%);
}
header .slide-icons .right-icon {
  right: 30px;
}
header .slide-icons .left-icon {
  left: 30px;
}
header ul.slide-bullets {
  width: calc(15px * 3 + 10px);
  position: absolute;
  z-index: 1;
  color: var(--primary-text-color);
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}
header ul.slide-bullets li {
  width: 15px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 50%;
}
header ul.slide-bullets li.active {
  background-color: var(--primary-color);
}
@media (max-width: 767px) {
  header .container {
    z-index: 2;
    width: 100%;
  }
  header .landing-text {
    width: 100%;
    align-items: center;
  }
  header .landing-text h1 {
    width: 80%;
  }
  header .landing-text p {
    width: 80%;
  }
}
/* end styling landing text, slide(icons, bullets) */
/* end styling header */

/* start styling services section */

.services {
}
.services .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
.services .container .srv {
  margin-bottom: 50px;
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.services .container .srv i {
  color: var(--secondary-color);
  font-size: 3em;
}
.services .container .srv .text {
  width: 80%;
}
.services .container .srv .text h3 {
  color: var(--primary-color);
  font-weight: lighter;
  font-size: 1.3em;
  margin-bottom: 30px;
}
.services .container .srv .text p {
  color: var(--secondary-text-color);
  line-height: 1.5em;
}
@media (max-width: 767px) {
  .services .container {
    flex-direction: column;
  }
  .services .container .srv {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .container .srv .text {
    margin-top: 20px;
  }
}

.services .landing {
  background-color: var(--secondary-color);
  background-image: url("../img/services-bg.jpg");
  background-size: cover;
  color: white;
  position: relative;
  height: 60vh;
  overflow: hidden;
}
.services .landing::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.services .landing .landing-img {
  z-index: 1;
  position: absolute;
  bottom: -50px;
  left: 20%;
  width: 200px;
}
.services .landing .landing-img img {
  width: 100%;
}
.services .landing .landing-text {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 199, 252, 0.5);
  width: 50%;
  padding: 40px 10px 10px 50px;
  z-index: 1;
}
.services .landing .landing-text h3 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: lighter;
}
.services .landing .landing-text ul {
}
.services .landing .landing-text ul li {
  padding: 10px;
  position: relative;
}
.services .landing .landing-text ul li::before {
  position: relative;
  margin-right: 10px;
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
}

@media (max-width: 767px) {
  .services .landing {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .services .landing .landing-img {
    position: static;
  }
  .services .landing .landing-text {
    position: static;
    transform: none;
    width: 100%;
  }
}
/* end styling services section */

/* start styling portfolio section */
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio ul.category {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio ul.category li {
  text-transform: uppercase;
  padding: 10px;
}
.portfolio ul.category li.active,
.portfolio ul.category li:hover {
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.portfolio .gallery {
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.portfolio .gallery .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.portfolio .gallery .card:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: rotate(2deg) scale(1.1, 1.1);
}
.portfolio .gallery .card:hover > .text {
  transition: 0.3s;
  bottom: 0;
}
.portfolio .gallery .card .picture {
  width: 90%;
  height: 200px;
}
.portfolio .gallery .card .picture img {
  width: 100%;
  height: 100%;
}
.portfolio .gallery .card .text {
  position: relative;
  bottom: -100%;
  width: 90%;
  padding: 10px;
}
.portfolio .gallery .card .text h3 {
  color: var(--secondary-color);
}
.portfolio .gallery .card .text p {
  color: var(--primary-color);
}
.portfolio > a {
  margin-top: 20px;
  text-transform: uppercase;
  display: block;
  padding: 10px 40px;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

/* start styling landing video */

.portfolio .landing-video {
  overflow: hidden;
  position: relative;
  background-color: var(--secondary-color);
  margin-top: 100px;
  width: 100%;
  height: 60vh;
}
.portfolio .landing-video video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
.portfolio .landing-video .landing-text {
  background-color: rgba(0, 199, 252, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio .landing-video .landing-text h3 {
  text-transform: uppercase;
  color: var(--primary-text-color);
  font-weight: lighter;
}
.portfolio .landing-video .landing-text p {
  color: var(--primary-text-color);
}
.portfolio .landing-video .landing-text a {
  text-transform: uppercase;
  display: block;
  padding: 10px 40px;
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
}
/* end styling landing video */
/* end styling portfolio section */

/* start styling "about us" section */
.aboutus {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.aboutus .picture {
  width: 50%;
}
.aboutus .picture img {
  width: 100%;
}
.aboutus .achievements {
  position: relative;
  background-color: var(--secondary-color);
  background-image: url("../img/about-bg-01.jpg");
  background-size: cover;
  width: 100%;
}
.aboutus .achievements::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.aboutus .achievements .cards {
  position: relative;
  z-index: 1;
  padding: 10px;
  margin: auto;
  width: 60%;
  height: 200px;
  display: flex;
  color: var(--primary-text-color);
  justify-content: space-between;
  background-color: rgb(0, 199, 252, 0.5);
}
@media (max-width: 767px) {
  .aboutus .achievements .cards {
    flex-direction: column;
    height: auto;
    padding-top: 40px;
  }
  .aboutus .achievements .cards .card {
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .aboutus .achievements .cards {
    width: 80%;
  }
}
.aboutus .achievements .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.aboutus .achievements .cards .card i {
  padding: 10px;
  border-radius: 50%;
  font-size: 1.5em;
  background-color: var(--secondary-color);
}
.aboutus .achievements .cards .card span {
  font-size: 2em;
  font-weight: bolder;
}
.aboutus .achievements .cards .card p {
}
.aboutus .reviews {
  margin-top: var(--section-padding);
  width: 100%;
}
.aboutus .reviews .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .aboutus .reviews .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.aboutus .reviews .container .heading {
  text-align: center;
  margin-bottom: 50px;
}
.aboutus .reviews .container .heading h3 {
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 1.3em;
  margin-bottom: 20px;
}
.aboutus .reviews .container .heading p {
  width: 80%;
  margin: auto;
}
.aboutus .reviews .container .testimonials {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.aboutus .testimonials .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.aboutus .testimonials .card .picture {
  width: 20%;
}
.aboutus .testimonials .card .picture img {
  border-radius: 50%;
  width: 100%;
}
.aboutus .testimonials .card .text {
  width: 70%;
  border-bottom: 1px solid var(--secondary-text-color);
  padding-bottom: 10px;
}
.aboutus .testimonials .card .text p {
  margin-bottom: 10px;
}
.aboutus .testimonials .card .text span {
  display: block;
  text-align: right;
}
.aboutus .testimonials ul.bars {
  display: flex;
  width: 100%;
  justify-content: center;
}
.aboutus .testimonials ul.bars li {
  width: 15px;
  height: 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  margin-left: 5px;
}
.aboutus .testimonials ul.bars li.active {
  background-color: var(--primary-color);
}

/* ++++++++++++++++++++++++++ */

.aboutus .skills {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.aboutus .skills .prog-bars {
}
.aboutus .skills .prog-bars h4 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: lighter;
}
.aboutus .skills .prog-bars > div {
  width: 100%;
  background-color: #dedadc;
  margin-bottom: 30px;
}
.aboutus .skills .prog-bars > div span {
  display: block;
  padding: 20px;
  background-color: var(--primary-color);
  position: relative;
}
.aboutus .skills .prog-bars > div span::before {
  position: absolute;
  content: attr(data-value);
  top: -37px;
  right: -18px;
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  padding: 5px 10px;
}
.aboutus .skills .prog-bars > div span::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  border-style: solid;
  border-width: 10px;
  border-color: var(--secondary-color) transparent transparent transparent;
}
/* +++++++++++++++++++++++++++++++ */
@media (max-width: 767px) {
  .aboutus .reviews .container .testimonials,
  .aboutus .reviews .container .skills {
    width: 100%;
  }
  .aboutus .reviews .container .skills {
    margin-top: 50px;
  }
}
/* +++++++++++++++++++++++++++++++ */
.aboutus .quote {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: var(--secondary-color);
  background-image: url(../img/about-bg-02.jpg);
  color: var(--primary-text-color);
  text-align: center;
  margin-top: 100px;
}
.aboutus .quote .container {
  width: 60%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.aboutus .quote .container q {
  position: relative;
  font-size: 1.3em;
  line-height: 1.2em;
}
.aboutus .quote .container q::before {
  content: "\f10d";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: -10px;
  left: -20px;
}

.aboutus .quote .container q::after {
  content: "\f10e";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  bottom: -10px;
  right: -20px;
}
.aboutus .quote .container span {
  text-transform: capitalize;
  margin-top: 10px;
  display: block;
}
/* end styling "about us" section */

/* start styling pricing section */

.pricing {
}
.pricing .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pricing .plans {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.pricing .plans .plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.pricing .plans .plan > div {
  width: 100%;
  border-top: 1px solid var(--primary-color);
}
.pricing .plans .plan .head {
  padding: 10px;
}
.pricing .plans .plan .head h3 {
  margin-bottom: 10px;
  font-weight: lighter;
}
.pricing .plans .plan .head span {
  position: relative;
  font-size: 2em;
  font-weight: bolder;
  display: block;
  padding: 10px 20px;
}
.pricing .plans .plan .head span::before {
  position: absolute;
  content: attr(data-currency);
  font-size: 1em;
  left: 30%;
  top: 0;
  font-weight: lighter;
  font-size: 0.5em;
}
.pricing .plans .plan .head span::after {
  position: absolute;
  content: "/Mo";
  bottom: 0;
  right: 25%;
  font-weight: lighter;
  font-size: 0.5em;
}
.pricing .plans .plan .body {
  width: auto;
}
.pricing .plans .plan .body ul {
}
.pricing .plans .plan .body ul li {
  padding: 10px;
}
.pricing .plans .plan .body ul li:not(li:last-of-type) {
  border-bottom: 1px solid var(--primary-color);
}
.pricing .plans .plan .foot {
  width: auto;
}
.pricing .plans .plan .foot a {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
}
.pricing .plans .plan .foot a:hover {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.pricing .container p {
  margin-top: 50px;
}
.pricing .container a {
  display: block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  margin-top: 20px;
}

.pricing .contact {
  position: relative;
  height: 40vh;
  background-image: url(../img/subscribe-bg.jpg);
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.pricing .contact::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.pricing .contact form {
  position: relative;
  margin-right: 40px;
  width: 50%;
  display: flex;
}
.pricing .contact form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: var(--primary-text-color);
  opacity: 0.7;
}
.pricing .contact form input {
  outline: none;
  background-color: transparent;
  border: 1px solid var(--primary-text-color);
  color: var(--primary-text-color);
  padding: 5px 5px 5px 30px;
  width: 80%;
}

.pricing .contact form button {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
  border-left: none;
  padding: 10px;
  cursor: pointer;
}
.pricing .contact p {
  position: relative;
  line-height: 1.5em;
  width: 40%;
}
@media (max-width: 767px) {
  .pricing .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing .contact form {
    width: 70%;
    margin-bottom: 20px;
  }
  .pricing .contact p {
    width: 80%;
    text-align: center;
  }
}
/* end styling pricing section */

/* start styling contact us section */

.contactus {
  margin-bottom: var(--section-padding);
}
.contactus .container {
  display: flex;
  justify-content: space-between;
}
.contactus .container form {
  text-align: right;
  width: 65%;
}
.contactus .container form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
}
.contactus .container form textarea {
  padding: 10px;
  width: 100%;
  height: 200px;
}
.contactus .container form button {
  margin-top: 50px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--primary-color);
  border: none;
  color: var(--primary-text-color);
}
.contactus .container .info {
  width: 30%;
}
.contactus .info div:first-of-type {
  width: 100%;
  height: 40%;
}
.contactus .info div h4 {
  margin-bottom: 20px;
}
.contactus .info div:last-of-type {
  width: 100%;
  height: 40%;
}
.contactus .info div p {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .contactus .container {
    flex-direction: column;
    align-items: center;
  }
  .contactus .container form,
  .contactus .container .info {
    width: 90%;
  }
  .contactus .container .info {
    text-align: center;
    margin-top: 50px;
  }
}
/* end styling contact us section */

/* start styling footer */
footer {
  position: relative;
  background-color: var(--secondary-color);
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  padding: 100px 0;
}
footer::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
footer .container {
  position: relative;
  text-transform: capitalize;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .container .logo {
  margin-bottom: 20px;
}
footer .container .logo img {
}
footer .container p:first-of-type {
  padding: 10px;
  border-bottom: 1px solid var(--primary-text-color);
}
footer .container .social-media {
  font-size: 1.5em;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .logo,
footer .container p,
footer .container .logo,
footer .container .social-media {
  margin-bottom: 20px;
}
footer .container p a {
  color: var(--primary-color);
}
/* end styling footer */
