/* global variables */
:root {
  --primary-color: rgb(0, 199, 252);
  --secondary-color: #1f2021;
  --primary-text-color: #fff;
  --secondary-text-color: #636364;
  --container-space: 50px;
  --section-padding: 100px;
  --primary-padding: 10px;
  --primary-margin: 10px;
}
/* -------------- */
/* global rules  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* +++++++++++++ */
html {
  scroll-behavior: smooth;
}
body {
  /* overflow: hidden; */
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.mark {
  border: 1px solid #000;
  text-align: center;
}
.container {
  padding: 0 var(--primary-padding);
  margin: auto;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .container {
    width: calc(576px - var(--container-space));
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container {
    width: calc(768px - var(--container-space));
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .container {
    width: calc(992px - var(--container-space));
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .container {
    width: calc(1200px - var(--container-space));
  }
}

/* start styling header */
header {
  position: relative;
  height: 100vh;
  background-color: var(--secondary-color);
  background-image: url("../img/landing-bg.jpg");
  background-size: cover;
}
header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
}

header .container {
  position: relative;
  text-transform: capitalize;
  height: 100px;
  color: var(--primary-text-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
header .container::before {
  position: absolute;
  content: "";
  width: calc(100% - var(--primary-padding) * 2);
  border-bottom: 1px solid var(--secondary-text-color);
  bottom: 0;
}
header .container .logo {
  width: 15%;
}
header .container .logo img {
  max-width: fit-content;
}
header .container nav {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav .toggle-menu {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 10px;
}
header .container nav .toggle-menu + input[type="checkbox"] {
  display: none;
}

header .container nav ul {
  display: flex;
  margin-right: 10px;
  width: 80%;
  justify-content: flex-end;
  align-items: center;
}
header .container nav ul li {
  padding: 40px 20px;
}
header .container nav ul li.active,
header .container nav ul li:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

header .container nav form {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav form input.search {
  width: 10%;
  outline: none;
  caret-color: var(--primary-color);
  background-color: transparent;
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
  border-radius: 10px;
  padding: 5px;
}
header .container nav form input.search:focus {
  width: 100%;
}
header .container nav form i {
  margin-left: 10px;
  cursor: pointer;
}
@media (max-width: 767px) {
  header {
    /* height: calc(100vh + 150px); */
    /* overflow: auto; */
  }
  header .container .logo {
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }
  header .container nav {
    width: 100%;
  }
  header .container nav .toggle-menu {
    display: block;
  }
  header .container nav #toggle-check:checked + ul {
    position: absolute;
    display: flex;
    flex-flow: column;
  }
  header .container nav ul {
    background-color: var(--secondary-color);
    display: none;
    position: absolute;
    top: 100%;
    width: calc(100% - 20px);
  }
  header .container nav form {
    display: none;
  }
}
@media (max-width: 991px) {
  header .container nav form {
    display: none;
  }
}

/* start styling landing text, slide(icons, bullets) */
header .landing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  z-index: 1;
  color: var(--primary-text-color);
  width: 70%;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 199, 252, 0.5);
  padding: 20px;
}
header .landing-text h1 {
  font-weight: normal;
  text-transform: uppercase;
  width: 60%;
}
header .landing-text p {
  width: 60%;
  text-transform: capitalize;
  line-height: 1.5em;
}
header .slide-icons {
  font-size: 1.5em;
}
header .slide-icons .right-icon,
header .slide-icons .left-icon {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  color: var(--primary-text-color);
  top: 50%;
  transform: translateY(-50%);
}
header .slide-icons .right-icon {
  right: 30px;
}
header .slide-icons .left-icon {
  left: 30px;
}
header ul.slide-bullets {
  width: calc(15px * 3 + 10px);
  position: absolute;
  z-index: 1;
  color: var(--primary-text-color);
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}
header ul.slide-bullets li {
  width: 15px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 50%;
}
header ul.slide-bullets li.active {
  background-color: var(--primary-color);
}
@media (max-width: 767px) {
  header .container {
    z-index: 2;
    width: 100%;
  }
  header .landing-text {
    width: 100%;
    align-items: center;
  }
  header .landing-text h1 {
    width: 80%;
  }
  header .landing-text p {
    width: 80%;
  }
}
/* end styling landing text, slide(icons, bullets) */
/* end styling header */

/* start styling services section */
/* end styling services section */
